<!DOCTYPE html> 

<html> 

<head> 

  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  
</head>
    <body>
        <div class="container">
         <form class=phone>
        <input id="number" type="text" name="phoneNumber" placeholder="Phone Number"/>
        <input id="message" type="message" name="message" placeholder="Your Message"/>
        <input type="submit" value="Submit"/>
        </form>
        
        </div>
    </body>
</html>